<section class="container section section__height" id="about">
  <h2 class="section__title">About</h2>

  <div class="about">
    <input type="radio" name="tabs" id="tab1" />
    <input type="radio" name="tabs" id="tab2" />
    <input type="radio" name="tabs" id="tab3" checked="checked" />
    <div class="browser">
      <div class="tabs">
        <label class="tab" for="tab1">
          <div class="text"><i class="fa fa-github-alt"></i>&nbsp;Linkedin</div>
          <div class="close">+</div>
        </label>
        <label class="tab" for="tab2">
          <div class="text"><i class="fa fa-codepen"></i>&nbsp;University</div>
          <div class="close">+</div>
        </label>
        <label class="tab" for="tab3">
          <div class="text">
            <i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;Alwaleed
          </div>
          <div class="close">+</div>
        </label>
      </div>
      <div class="toolbar">
        <div class="controls">
          <i class="fa fa-arrow-left"></i><i class="fa fa-arrow-right"></i
          ><i class="fa fa-undo"></i>
        </div>
        <div class="url">
          <div class="text">https://linkedin.com</div>
          <div class="text">https://www.utas.edu.om</div>
          <div class="text">https://alwaleedcv.com</div>
        </div>
      </div>
      <div class="display">
        <iframe
          src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7235191316417024000"
          width="400"
          height="380"
          frameborder="0"
          scrolling="yes"
          allowtransparency="true"
        ></iframe>

        <iframe src="https://www.utas.edu.om/"></iframe>
        <iframe src="https://imvake.github.io/imvake/"></iframe>
      </div>
    </div>
  </div>
</section>
