<section class="container section" id="portfolio">
  <h2 class="section__title">Achievements</h2>

  <div *ngFor="let section of portfolioSections">
    <h4 class="section__title">{{ section.sectionTitle }}</h4>

    <div class="video-contianer">
      <div *ngFor="let video of section.videos" class="video">
        <figure>
          <video [src]="video.src" muted controls></video>
          <figcaption>
            <a
              *ngIf="video.link"
              [href]="video.link"
              target="_blank"
              rel="noopener noreferrer"
              style="color: inherit; text-decoration: none"
            >
              {{ video.caption }}
            </a>
            <span *ngIf="!video.link">{{ video.caption }}</span>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="popup-video" *ngIf="showPopup">
    <span (click)="closePopup()">&times;</span>
    <video [src]="activeVideo" muted controls></video>
  </div>
</section>
