<!-- Home Section -->
<section class="container section section__height" id="home">
  <h2 class="section__title"></h2>
  <div class="squares">
    <section class="greetings" id="home">
      <div class="container">
        <p>
          Welcome To <br />
          <!-- Bind the typed text and cursor span using ViewChild in the component -->
          <span #typedTextSpan class="typed-text"></span><span #cursorSpan class="cursor">&nbsp;</span>
        </p>
      </div>
    </section>
  </div>
</section>
